@font-face {
  font-family: "Orbitron";
  src: url("/assets/fonts/Orbitron/static/Orbitron-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/assets/fonts/Chakra_Petch/ChakraPetch-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

$color-black: #000;
$color-white: #FFF;
$color-cta: #F1DD0A;

$bg-color-dark-mode: #1E1E1E; // #282C34; //alt
$text-color-dark-mode: #D4D4D4; // #EDEDED; //alt

$bg-color-light-mode: #FAFAFA; // #000; //alt
$text-color-light-mode: #333333; // #FFF; //alt


@mixin orbitron-font {
  font-family: "Orbitron",
    -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Helvetica Neue", Arial, 
    monospace;
}

@mixin chakra-font {
  font-family: "Chakra Petch",
    -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Helvetica Neue", Arial, 
    monospace;
}

@mixin dark-mode {
  --bg-color: #{ $bg-color-dark-mode };
  --text-color: #{ $text-color-dark-mode };
  --shadow-color: rgba(255, 255, 255, 0.05);

  background-color: $bg-color-dark-mode;
  color: $text-color-dark-mode;
}

@mixin light-mode {
  --bg-color: #{ $bg-color-light-mode };
  --text-color: #{ $text-color-light-mode };
  --shadow-color: rgba(0, 0, 0, 0.05);

  background-color: $bg-color-light-mode;
  color: $text-color-light-mode;
}

@mixin black-mode {
  --bg-color: #{ $color-black };
  --text-color: #{ $color-white };
  --shadow-color: rgba(255, 255, 255, 0.05);

  background-color: $color-black;
  color: $color-white;
}

@mixin white-mode {
  --bg-color: #{ $color-white };
  --text-color: #{ $color-black };
  --shadow-color: rgba(0, 0, 0, 0.05);

  background-color: $color-white;
  color: $color-black;
}

html {
  scroll-behavior: smooth;
}

@mixin theme-switcher-box-shadow {
  .theme-switcher {
    .theme-toggler {
      box-shadow: 2px 2px 5px var(--text-color);
    }
  }
}

@media (prefers-color-scheme: dark) {
  body.light-mode {
    @include theme-switcher-box-shadow;    
  }
}

@media (prefers-color-scheme: light) {
  body:not(.light-mode) {
    @include theme-switcher-box-shadow;
  }
}

body {
  position: relative;

  margin: 0;
  padding: 0;

  // font-family: "Chakra Petch", monospace;
  font-family:
    -apple-system, /* macOS & iOS system font */
    BlinkMacSystemFont, /* Chrome on macOS */
    "Segoe UI", /* Windows system font */
    Roboto, /* Android & Chrome OS */
    "Helvetica Neue", /* Older macOS */
    Arial, /* Generic sans-serif fallback */
    "Apple Color Emoji", /* macOS emoji */
    "Segoe UI Emoji", /* Windows emoji */
    "Noto Color Emoji", /* Android/Linux emoji */
  ;
  
  .orbitron-font {
    @include orbitron-font;
  }
  
  .chakra-font {
    @include chakra-font;
  }
  
  .white-font {
    @include black-mode;
  }

  h1 {
    @include orbitron-font;
    margin-top: 0;
  }

  h2, h3, h4, p {
    @include chakra-font;
    margin-top: 0;
  }

  a, button, input {
    @include chakra-font;

    display: inline-block;

    // Prevent zoom in on double-tap (iphone safari etc.)
    touch-action: manipulation;

    background-color: transparent;

    text-decoration: none;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
      transition: opacity 0.1s ease;
    }

    &.text-underline {
      text-decoration: underline;
    }

    &.text-bold {
      font-weight: 700;
    }
  }

  &, a, button, input {
    @include dark-mode;
  }

  button {
    font-size: 0.8rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 5px 10px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .black-white-wrapper {
    &, a, button, input {
      @include black-mode;
    }
  }

  &.light-mode {
    &, a, button, input {  
      @include light-mode;
    }

    .black-white-wrapper {      
      &, a, button, input {
        @include white-mode;
      }
    }
  }

  &.transitioning-mode {
    &, * {
      transition: all 0.3s ease;
    }
  }
}

.sr-only,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.no-wrap {
  white-space: nowrap;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    padding: 0 15px;
  }
}

header {
  .header-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 8px var(--text-color);
  }
  
  .header-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu-wrapper {
      width: 100%;

      display: flex;
      justify-content: flex-end;
    }
  }
}

.logo-container {
  padding: 20px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    font-size: 20px;
    font-weight: bold;
  }
}

.menu-toggle {
  display: none;
}

.nav-wrapper {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  width: 100%;
  
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;

    padding-left: 0;
    list-style-type: none;
  }
  
  a {
    position: relative;
    font-weight: bold;

    &::after {
      content: "";
      position: absolute;
      width: 0%;
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: var(--text-color);
      transition: width 0.3s ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.theme-switcher {
  display: flex;
  justify-content: center;
  align-items: center;

  
  .theme-toggler {
    position: relative;
    padding: 4px 5px;
    border: 1px solid var(--text-color);
    border-radius: 15px;

    span {
      font-size: 16px;
      line-height: 20px;
    }

    .marker {
      position: absolute;
      top: 3px;
      left: 4px;
      width: 22px;
      height: 22px;
      border-radius: 22px;

      color: transparent;
      background-color: var(--text-color);

      transition: all ease-in 0.3s;
    }

    &.light-mode {
      .marker {
        left: calc(100% - 26px);
      }
    }
  }
}

section {
  text-align: center;
  box-shadow: 0 6px 8px var(--shadow-color);
  
  padding: 60px 20px;
  @media (min-width: 768px) {
    padding: 80px 20px;
  }
  @media (min-width: 1200px) {
    padding: 100px 20px;
  }
}

#about {
  h1, h2, h3, h4, p, ul, ol  {
    max-width: 830px;
    margin: 0 auto 30px;
    line-height: 1.5rem;
  }
}

#polityka-prywatnosci, #polityka-cookies, #kontakt, #klauzula-rodo {
  text-align: left;

  div {
    margin: 0 auto;
    max-width: 770px;
  }

  h1, h2, h3, h4, p, ul, ol  {
    margin: 0 auto 30px;
    line-height: 1.5rem;
  }
}

#banner {
  padding: 65px 0 0;

  background: url("https://img.freepik.com/premium-photo/close-up-hands-typing-keyboard-with-code-computer-screen_1187703-176393.jpg")
    center/cover no-repeat;
  // background: url('/assets/images/close-up-hands-typing-keyboard-with-code-computer-screen_1187703-176393.jpg') center/cover no-repeat;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);

  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner h1 {
  font-weight: 700;
}

#offer .circle-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: var(--bg-color);
  background-color: var(--text-color);
  // box-shadow: 0 6px 12px var(--text-color);
  // background: linear-gradient(160deg, var(--bg-color), var(--text-color));
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 1rem;

}

.circle-round {
  .card-back  {
    background-color: var(--text-color);
    padding: 5px;
    border-radius: 5px;
  }
}

#offer {
  .offer-grid-wrapper {
    max-width: 820px;
    margin: 45px auto 0;
  }
}

.offer-grid {
  padding-bottom: 20px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  @media (max-width: 767px) {
    &.mobile-reverse {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul {
    padding-left: unset;
    list-style-type: none;

    li {
      margin-bottom: 5px;
    }
  }

  h4 {
    margin-bottom: 0;
    padding-top: 20px;
  }

  .card-back {
    max-width: 340px;
  }
}

.highlighted {
  display: inline-block;
  margin-top: 5px;
  padding: 2px 5px;
  border-radius: 3px;

  background-color: var(--text-color);
  color: var(--bg-color);
  // font-style: italic;
  // font-weight: 500;
}

#map {
  > div {
    margin: 0 auto;
    max-width: 900px;
  }

  iframe {
    width: 100%;
    height: 400px;
    border: none;
  }
}

#footer {
  font-size: 0.9rem;
  padding: 60px 20px 100px;
  text-align: center;

  .footer-links {
    div {
      padding: 5px 0;
    }
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 0 20px;

    background-color: var(--bg-color);
    box-shadow: -2px 2px 4px var(--text-color);
    overflow: hidden;
    
    position: absolute;
    top: 69px;
    right: -100%;
    
    transition: right 0.3s ease;
    &.show {
      right: 0;
    }

    nav {
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 0;
        padding-left: 0;
      }

      li {
        padding: 10px 0;
        text-align: center;
      }
    }
  }
}

.hamburger {
  position: relative;
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 2px;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  &.active {
    span:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

.cta-contact {
  background-color: $color-cta !important;
  padding: 10px 20px;
  margin-bottom: 15px;

  border-radius: 30px;
  border: 2px solid var(--text-color);
  
  color: $color-black;
  font-weight: 500;
}

#copy-to-clipboard-button {
  display: inline-block;
  margin: 0 auto;
  padding-right: 25px;
  padding-bottom: 12px;

  position: relative;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #c7c7c7;
    border-radius: 2px;

    position: absolute;
    top: 4px;
    right: 4px;
  }
  
  &::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #5f5f5f;
    border-radius: 2px;

    position: absolute;
    top: 8px;
    right: 0;
  }

  transition: all ease-in 0.9s;

  &.clicked {
    &::before {
      top: 3px;
      right: 5px;
    }
    
    &::after {
      top: 9px;
      right: -1px;
    }
  }
}

dialog {
  @include white-mode;

  width: 100%;
  max-width: 90vw;
  @media(min-width: 768px) {
    max-width: 700px;
  }
  padding: 0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);

  .dialog-wrapper {
    position: relative;
    padding: 0 15px 10px;
    background-color: inherit;

    .sticky-header {
      position: sticky;
      top: 0;
      margin: 0;
      padding: 15px 0;
      background-color: inherit;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      h2 {
        margin: 0;
      }
    }
  }

  a {
    background-color: inherit;
    color: inherit;
    font-weight: 700;
    text-decoration: underline;
  }
  label {
    font-style: italic;
  }
  
  &::backdrop {
    background: rgba(0,0,0,.6);
  }

  .cookie-actions {
    display: flex;
    flex-direction: column;
    @media(min-width: 768px) {
      flex-direction: row;
    }
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .cookie-actions button {
    flex: 1;
    padding: .6rem;
    cursor: pointer;
  }

  button#accept-selected, .cookie-options {
    display: none;
  }

  &.cookie-settings-mode {
    button#cookie-settings, .cookie-info {
      display: none;
    }

    button#accept-selected, .cookie-options {
      display: block;
    }
  }
}
