@font-face {
  font-family: "Orbitron";
  src: url("/assets/fonts/Orbitron/static/Orbitron-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/assets/fonts/Chakra_Petch/ChakraPetch-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

$color-black: #000;
$color-white: #FFF;

$bg-color-dark-mode: #1E1E1E; // #282C34; //alt
$text-color-dark-mode: #D4D4D4; // #EDEDED; //alt

$bg-color-light-mode: #FAFAFA; // #000; //alt
$text-color-light-mode: #333333; // #FFF; //alt


@mixin orbitron-font {
  font-family: "Orbitron", monospace;
}

@mixin chakra-font {
  font-family: "Chakra Petch", monospace;
}

@mixin dark-mode {
  --bg-color: #{ $bg-color-dark-mode };
  --text-color: #{ $text-color-dark-mode };
  
  background-color: $bg-color-dark-mode;
  color: $text-color-dark-mode;
}

@mixin light-mode {
  --bg-color: #{ $bg-color-light-mode };
  --text-color: #{ $text-color-light-mode };

  background-color: $bg-color-light-mode;
  color: $text-color-light-mode;
}

@mixin black-mode {
  --bg-color: #{ $color-black };
  --text-color: #{ $color-white };

  background-color: $color-black;
  color: $color-white;
}

@mixin white-mode {
  --bg-color: #{ $color-white };
  --text-color: #{ $color-black };

  background-color: $color-white;
  color: $color-black;
}

:root {
  --shadow-color: rgba(255, 255, 255, 0.05);
}

html {
  scroll-behavior: smooth;
}

@mixin theme-switcher-box-shadow {
  .theme-switcher {
    button {
      box-shadow: 2px 2px 5px var(--text-color);
    }
  }
}

@media (prefers-color-scheme: dark) {
  body.light-mode {
    @include theme-switcher-box-shadow;    
  }
}

@media (prefers-color-scheme: light) {
  body:not(.light-mode) {
    @include theme-switcher-box-shadow;
  }
}

body {
  position: relative;

  margin: 0;
  padding: 0;

  // font-family: "Chakra Petch", monospace;
  font-family:
    -apple-system, /* macOS & iOS system font */
    BlinkMacSystemFont, /* Chrome on macOS */
    "Segoe UI", /* Windows system font */
    Roboto, /* Android & Chrome OS */
    "Helvetica Neue", /* Older macOS */
    Arial, /* Generic sans-serif fallback */
    "Apple Color Emoji", /* macOS emoji */
    "Segoe UI Emoji", /* Windows emoji */
    "Noto Color Emoji", /* Android/Linux emoji */
  ;
  
  .orbitron-font {
    @include orbitron-font;
  }
  
  .chakra-font {
    @include chakra-font;
  }
  
  .white-font {
    @include black-mode;
  }

  h1 {
    @include orbitron-font;
  }

  h2, h3, h4 {
    @include chakra-font;
  }

  a, button, input {
    @include chakra-font;

    // Prevent zoom in on double-tap (iphone safari etc.)
    touch-action: manipulation;

    background-color: transparent !important;

    text-decoration: none;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
      transition: opacity 0.1s ease;
    }
  }

  &, a, button, input {
    @include dark-mode;
  }

  .black-white-wrapper {
    &, a, button, input {
      @include black-mode;
    }
  }

  &.light-mode {
    &, a, button, input {  
      @include light-mode;
    }

    .black-white-wrapper {      
      &, a, button, input {
        @include white-mode;
      }
    }
  }

  &.transitioning-mode {
    &, * {
      transition: all 0.3s ease;
    }
  }
}

.no-wrap {
  white-space: nowrap;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    padding: 0 15px;
  }
}

header {
  padding: 65px 0 0;

  .header-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 8px var(--text-color);
  }
  
  .header-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo-container {
  padding: 20px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    font-size: 20px;
    font-weight: bold;
  }
}

.menu-toggle {
  display: none;
}

.nav-wrapper {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  width: 100%;
  
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;

    padding-left: 0;
    list-style-type: none;
  }
  
  a {
    position: relative;
    font-weight: bold;

    &::after {
      content: "";
      position: absolute;
      width: 0%;
      height: 2px;
      bottom: -4px;
      left: 0;
      background-color: var(--text-color);
      transition: width 0.3s ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.theme-switcher {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid var(--text-color);
  }
}

section {
  padding: 4rem 2rem;
  text-align: center;
  box-shadow: 0 2px 8px var(--shadow-color);
}

#about p {
  max-width: 820px;
  margin: 0 auto 20px;
  line-height: 1.5rem;
}

#banner {
  background: url("https://img.freepik.com/premium-photo/close-up-hands-typing-keyboard-with-code-computer-screen_1187703-176393.jpg")
    center/cover no-repeat;
  // background: url('/assets/images/close-up-hands-typing-keyboard-with-code-computer-screen_1187703-176393.jpg') center/cover no-repeat;
  padding: 6rem 2rem;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
}

#banner h1 {
  font-weight: 700;
}

#offer .circle-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: var(--bg-color);
  background: linear-gradient(135deg, var(--bg-color), var(--text-color));
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#map {
  > div {
    margin: 0 auto;
    max-width: 900px;
  }

  iframe {
    width: 100%;
    height: 400px;
    border: none;
  }
}

#footer {
  font-size: 0.9rem;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 0 20px;

    background-color: var(--bg-color);
    box-shadow: -2px 2px 4px var(--text-color);
    overflow: hidden;
    
    position: absolute;
    top: 69px;
    right: -100%;
    
    transition: right 0.3s ease;
    &.show {
      right: 0;
    }

    nav {
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 0;
        padding-left: 0;
      }

      li {
        padding: 10px 0;
        text-align: center;
      }

      a {
        border-bottom: 1px solid #eee;
      }
    }
  }
}

.hamburger {
  position: relative;
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 2px;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  &.active {
    span:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}


